body {
    background-image: url(../Images/My-Website-Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
    color: white;
}

main {
    z-index: 0;
    position: relative;
    top: -45px; 
    margin-right: -8px;
    margin-left: -8px;
}

header {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0px;
    z-index: 1;
}

nav {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 200px;
}

#logo {
    color: white;
    margin-left: 30px;
    font-size: 45px;
}

.nav-buttons {
    color: rgba(255, 255, 255, 0.681);
    text-decoration: none;
    font-weight: 300;
}

.nav-buttons:hover {
    color: white;
}

#start-page {
    width: 100%;
    height: 100vh;
    background-image: url(../Images/BackGround\ 3.jpg);
    background-size: 100%;
    visibility: visible;
    opacity: 1;
}

#about-section {
    width: 100%;
    height: 400px;
    position: relative;
    top: 210px;
}

#name {
    font-size: 55px;
    font-weight: 500;
    margin-left: 130px;
}

#start-about {
    margin-left: 130px;
    color: rgba(255, 255, 255, 0.681);

}

#more-button {
    width: 150px;
    height: 35px;
    font-size: 16px;
    margin-left: 130px;
    margin-top: 30px;
    background-color: transparent;
    border: solid white;
    border-radius: 17px;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

#more-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

#projects {
    width: 100%;
    height: 950px;
}

#projects-content {
    position: absolute;
    width: 100%;
    height: 950px;
}

#projects-title {
    font-size: 45px;
    font-weight: 500;
    margin-left: 130px;
    margin-top: 100px;
}

#projects-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1276px;
    margin: 0 auto;
    margin-top: 80px;
}

.card {
    width: 320px;
    height: 470px;
    overflow: hidden;
    text-align: center;
    position: relative;
    background: rgba(115, 115, 115, 0.085);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.216);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.101);
    
}

.card-link {
    text-decoration: none;
    color: white;
}
.card-image {
    width: 250px;
    border-radius: 10px;
    transition: filter 0.7s;
    filter: brightness(80%);
}


.card-footer {
    width: 320px;
    height: 60px;
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lang-logo {
    height: 55px;
}

.card-title {
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    padding: 0px;
}

.card-text {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.681);
    font-size: 14px;
    padding: 20px;
}

.card:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(128, 128, 128, 0.4);
}

.card:hover .card-image {
    filter: brightness(100%);
}

#button-block {
    margin-top: 70px;
    width: 100%;
    text-align: center;
}

#view-all-button {
    width: 160px;
    height: 40px;
    font-size: 16px;
    background-color: transparent;
    border: solid white;
    border-radius: 20px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
}

#view-all-button:hover {
    background-color: white;
    color: black;
}

#skills {
    width: 100%;
    height: 600px;
    position: relative;
}

#skills-content {
    position: absolute;
    top: 100px;
    left: 63.44px;
    height: 400px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#skills-title {
    font-size: 45px;
    font-weight: 500;
    margin-left: 130px;
}

.skills-logos {
    height: 150px;
}

#about {
    margin-top: 180px;
    width: 100%;
    height: 950px;
}

#about-content {
    margin-left: 130px;
}

#about-title {
    font-size: 45px;
    font-weight: 500;
    margin-top: 100px;
}

#contact {
    margin-top: 180px;
    width: 100%;
}

#contact-content {
    margin-left: 130px;
}

#contact-title {
    font-size: 45px;
    font-weight: 500;
    margin-top: 100px;
}

.contact-headings {
    font-size: 22px;
}

.flag-logo {
    width: 25px;
}

#whatsapp-logo {
    width: 30px;
}

.social-media-link {
    text-decoration: none;
}

.social-media-logo {
    width: 50px;
}

#download-link {
    position: relative;
    top: 50px;
    cursor: pointer;
    border: solid white;
    border-radius: 20px;
    padding: 8px 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#download-link:hover {
    background-color: white;
    color: black;
}
